/* Global Styles */
.btn {
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
}

.btn-primary, .btn-secondary, .btn-selector {
    border-radius: 3px;
}

/* Primary Button Styles */
.btn-primary {
    background-color: #e50914;
}

/* Secondary Button Styles */
.btn-secondary {
    border: solid 1px rgb(252, 238, 238);
    background-color: rgb(252, 238, 238);
}

/* Selector Button Styles */
.btn-selector {
    border: solid 1px rgb(252, 238, 238);
    margin-right: 2rem;
    margin: 0 .75rem;
}

/* Label Button Styles */
.btn-label {
    background-color: #e50914;
}